<script type="text/javascript">$.backstretch("landing4.jpg");</script>

<div class="bg">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-7">
      <div class="landing-h1">

      <h1>PairBnB</h1>
        <p>Network. Learn. Teach. Host</p>
      </div>
    </div>
  </div>
</div>




