<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Pair BnB</a>
      <a class="navbar-brand" href="/users/<%=session[:user_id]%>">Dashboard</a>
    </div>
  </div>
</nav>
