@import "bootstrap-sprockets";
@import "bootstrap";

#login-landing{
  display: none;
}

#add_place {
  display: none;
}

.received_messages div{
  display: none;
}

#user_information img{
  height: 200px;
}

#user_residences img{
  height: 300px;
}

#result-page img{
  height:200px;
}

#reply_form {
  display: none;
}

#reply_form p{
  text-align: center
}

.id_for_me {
  display: none;
}

.bg{
  background-image: url('landing2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  height:600px;

}

.jumbotron{
  background: transparent;
  position: fixed;
  height: 600px;

}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

#result-page ul{
  list-style-type: none;
}

#residence_user img{
  height: 300px;
}
#residence_pics img{
  width:400px;
}

.available {

}
