@import "bootstrap-sprockets";
@import "bootstrap";



#add_place {
  display: none;
}

.received_messages div{
  display: none;
}

#user_information img{
  height: 200px;
}

#upload_image_wrapper {
  padding-left: 0px;
}


#result-page img{
  height:200px;
}

#reply_form {
  display: none;
}

#reply_form p{
  text-align: center
}

.id_for_me {
  display: none;
}

#mycalendar {
  box-shadow: 1px 1px 1px black;
}

.jumbotron{
  background: transparent;
  position: fixed;
  height: 200px;

}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

#result-page ul{
  list-style-type: none;
}

#residence_user img{
  height: 300px;
}
#residence_pics img{
  width:400px;
}

.available {

}

#available {
  display: none;
}

#booked {
  display: none;
}

.landing-h1 h1{
  font-size: 7em;
  padding-top: 50%;
}

.landing-h1 p{
  font-size: 1.25em;
}

.row {
  padding-top: 10px;
}
.dashboard{
  border: 1px solid grey;
  background:#F5F5F5;
  height: 600px;
}
.dashboard ul{
  width: 496px;
}
.dashboard h1{
  text-align: center;
}

.dashboard h4{
  text-align: center;
}

#valid_date_alert {
  display: none;
}

#login_alert {
  display: none;
}

#user_id {
  display: none;
}

.red_text {
  color: #C9302C;
  text-shadow: 1px 1px 1px black;

}

.green_text {
  color: #14A714;
  text-shadow: 1px 1px 1px black;

}

.white_text {
  text-shadow: 2px 1px 1px black;
  color: white;
}

.residence-img img{
  overflow: auto;
  width: 300px;
  height: auto;
  max-height: 300px;
}

#info_div {
  width: 70%;
  margin: auto;
  text-align: center;
}

#user_residences{
  padding-top:10px;
}

#user_information{
  padding-top:10px;
}

#nav-space{
  padding-left:0px;
}
