@import "bootstrap-sprockets";
@import "bootstrap";

#add_place {
  display: none;
}

.received_messages div{
  display: none;
}

#user_information img{
  height: 200px;
}

#user_residences img{
  height: 300px;
}
